%span{ class: "bookmark_top"}= "<a href='/item/#{@item.id}/edit'>#{t.item.edit}</a>"
%form{ action: "/item/#{@item.id}/review", method: "post" }
  .field.answer_box
    %span= @item.question
  .field.field_top_margin
    .clearfix2
      %span{id: "show_answer", class: "bookmark_top"}= t.item.show_answer
    .clearfix2
      %textarea{ id: "item_answer", name: "answer", rows: 1, class: "answer_box"}
  #grades{class: "action", style: "visibility: hidden;"}
    <input class="btn success" name="commit" type="submit" value=#{t.item.grades.ideal}>
    <input class="btn info" name="commit" type="submit" value=#{t.item.grades.good}>
    <input class="btn" name="commit" type="submit" value=#{t.item.grades.pass}>
    <input class="btn" name="commit" type="submit" value=#{t.item.grades.bad}>
    <input class="btn danger" name="commit" type="submit" value=#{t.item.grades.none}>

:javascript
  var answer = "#{@item.answer}"
  var answer_box = $('#item_answer')
  answer_box.focus();
  var once = false;
  var show_answer = $('#show_answer');

  show_answer.click(function() {
    answer_box.val(answer);
    if(!once) {
      show_answer.css('visibility','hidden');
      $('#grades').css('visibility','visible').hide().fadeIn("slow");
      bind_keys();
    }
  });

  answer_box.bind('keyup', function() {
    if(answer_box.val().length == answer.length && !once) {
      once = true;
      show_answer.css('visibility','hidden');
      $('#grades').css('visibility','visible').hide().fadeIn("slow");
      bind_keys();
    }
  });

  answer_box.bind('keydown', function(event) {
    if(event.keyCode == 8) {
      answer_box.val(answer.substring(0, answer_box.val().length+1));  
    }
    else {
      key =  String.fromCharCode(event.keyCode).toLowerCase();
      char_answer = answer.substring(answer_box.val().length, answer_box.val().length+1).toLowerCase();
      if(key == char_answer) {
        answer_box.val(answer_box.val() + answer.substring(answer_box.val().length, answer_box.val().length+1));
      } 
      else {
        answer_box.toggleClass('answer_box_error');
        setTimeout( "answer_box.toggleClass('answer_box_error')",100);
      }
    }
    return false;
  });

  function bind_keys() {
    answer_box.unbind();
    answer_box.attr('readonly', 'readonly');
    $(document).bind('keydown', '1', function() { $('[value="Null"]').focus().click(); });
    $(document).bind('keydown', '2', function() { $('[value="Bad"]').focus().click(); });
    $(document).bind('keydown', '3', function() { $('[value="Pass"]').focus().click(); });
    $(document).bind('keydown', '4', function() { $('[value="Good"]').focus().click(); });
    $(document).bind('keydown', '5', function() { $('[value="Ideal"]').focus().click(); });
  }
